@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,300;0,700;1,300&display=swap');

/*
 * Global variables
 */
:root {
    --emerald-50: #ecfdf5;
    --emerald-100: #d1fae5;
    --emerald-200: #a7f3d0;
    --emerald-300: #6ee7b7;
    --emerald-400: #34d399;
    --gray-100: #F1F1F1;
    --gray-200: #EEEEEE;
    --gray-300: #EBEBEB;
    --slate-400: #323D48;
    --slate-500: #1C2834;
    --slate-600: #162029;
    --violet-200: #ddd5fe;
    --violet-300: #c4b5fd;
    --violet-400: #a78bfa;
    --violet-600: #7c3aed;
    --violet-700: #6d28d9;
    --violet-800: #5b21b6;
    --main-bg: var(--gray-200);
    --linear-primary: linear-gradient(to right, var(--violet-300) 0%, var(--violet-400) 100%);
    --sunglasses-main: var(--slate-400);
    --main-font: 'Titillium Web', sans-serif;
    --font-color: var(--slate-600);
}

[data-theme='dark'] {
    --main-bg: var(--slate-500);
    --linear-primary: linear-gradient(to right, var(--emerald-200) 0%, var(--emerald-300) 100%);
    --sunglasses-main: #5d6a6f;
    --font-color: var(--gray-300);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: var(--main-bg);
    font-size: 12pt;
}

.header-main {
    position: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 5rem;
    padding: 1rem 2rem;
    z-index: 1;
}

.header-title > h1 {
    font-family: var(--main-font);
    font-weight: 700;
}

.header-lowercase {
    text-transform: lowercase;
}

.header-gradient-text {
    background: var(--linear-primary);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    transition: ease-in-out .5s;
}

.header-actions {
    display: flex;
    flex-flow: row nowrap;
}

/* Theme toggle section */
.header-theme-toggle {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    padding: .25rem .5rem;
}

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display:none;
}

.slider {
    background: var(--linear-primary) ;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: ease-in-out .5s;
}

.slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    width: 26px;
    transition: ease-in-out .5s;
}

input:checked + .slider {
    background: var(--linear-primary) ;
    transition: ease-in-out .5s;
}

input:checked + .slider:before {
    transform: translateX(26px);
    transition: ease-in-out .5s;
}

.slider.round {
  border-radius: 34px;
  transition: 0s;
}

.slider.round:before {
  border-radius: 50%;
}

.sunglasses {
    width: 3rem;
    height: auto;
    padding: .5rem;
    color: var(--sunglasses-main);
}

main {
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    font-family: var(--main-font);
    width: 100%;
    height: 100%;
    padding: 6rem 1rem 2rem 1rem;
}

.main-tagline {
    font-size: 1.5rem;
    color: var(--font-color);
    text-align: center;
}

.temp-type-display {
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    background: var(--linear-primary);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    transition: ease-in-out .5s;
}

.temp-type-btns {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.fah-btn, .cel-btn {
    font-size: 2rem;
}

.active-btn {
    background: var(--linear-primary);
}
