.flex {
    display: flex;
}

.flex-col {
    flex-flow: column;
}

.flex-col-ac {
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.flex-row {
    flex-flow: row;
}

.flex-row-ac {
    justify-content: center;
    align-items: center;
}

.flex-row-rc {
    justify-content: space-around;
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-nowrap {
    flex-wrap: nowrap;
}

.flex-gap-1 {
    row-gap: 1rem;
    column-gap: 1rem;
}
