@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,300;0,700;1,300&display=swap');

/*
 * Global variables
 */
:root {
    --emerald-50: #ecfdf5;
    --emerald-100: #d1fae5;
    --emerald-200: #a7f3d0;
    --emerald-300: #6ee7b7;
    --emerald-400: #34d399;
    --gray-100: #FFFFFF;
    --gray-200: #EAEAEA;
    --gray-300: #D2D2D2;
    --slate-400: #323D48;
    --slate-500: #1C2834;
    --slate-600: #162029;
    --violet-200: #ddd5fe;
    --violet-300: #c4b5fd;
    --violet-400: #a78bfa;
    --violet-600: #7c3aed;
    --violet-700: #6d28d9;
    --violet-800: #5b21b6;
    --main-bg: var(--gray-200);
    --main-hightlight: var(--gray-100);
    --main-shadow: var(--gray-300);
    --accent-1: var(--violet-700);
    --linear-primary: linear-gradient(to right, var(--violet-300) 0%, var(--violet-400) 100%);
    --linear-button: linear-gradient(to bottom right, var(--violet-400) 0%, var(--violet-700) 100%);
    --sunglasses-main: var(--slate-400);
    --main-font: 'Titillium Web', sans-serif;
    --font-color: var(--slate-600);
    --font-color-secondary: var(--gray-300);
}

[data-theme='dark'] {
    --main-bg: var(--slate-500);
    --main-hightlight: var(--slate-400);
    --main-shadow: var(--slate-600);
    --accent-1: var(--emerald-400);
    --linear-primary: linear-gradient(to right, var(--emerald-200) 0%, var(--emerald-300) 100%);
    --linear-button: linear-gradient(to bottom right, var(--emerald-200) 0%, var(--emerald-300) 100%);
    --sunglasses-main: #5d6a6f;
    --font-color: var(--gray-300);
    --font-color-secondary: var(--slate-600);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: var(--main-bg);
    font-size: 12pt;
}

/**********************************************
~~~~~~             UTILS                 ~~~~~~
**********************************************/
.tagline {
    font-size: 1.5rem;
    color: var(--font-color);
    text-align: center;
}

.gradient-text {
    background: var(--linear-primary);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    transition: ease-in-out .5s;
}

.header-main {
    position: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 5rem;
    padding: 1rem 2rem;
    z-index: 1;
    background-color: var(--main-bg);
}

.header-title > h1 {
    font-family: var(--main-font);
    font-weight: 700;
}

.header-lowercase {
    text-transform: lowercase;
}

.header-actions {
    display: flex;
    flex-flow: row nowrap;
}

/* Theme toggle section */
.header-theme-toggle {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    padding: .25rem .5rem;
}

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display:none;
}

.slider {
    background: var(--linear-primary) ;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: ease-in-out .5s;
}

.slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    width: 26px;
    transition: ease-in-out .5s;
}

input:checked + .slider {
    background: var(--linear-primary) ;
    transition: ease-in-out .5s;
}

input:checked + .slider:before {
    transform: translateX(26px);
    transition: ease-in-out .5s;
}

.slider.round {
  border-radius: 34px;
  transition: 0s;
}

.slider.round:before {
  border-radius: 50%;
}

.sunglasses {
    width: 3rem;
    height: auto;
    padding: .5rem;
    color: var(--sunglasses-main);
}

main {
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    font-family: var(--main-font);
    width: 100%;
    height: 100%;
    padding: 6rem 1rem 2rem 1rem;
}


.temp-form-description {
    list-style-type: none;
    font-family: var(--main-font);
    font-size: 1.25rem;
    text-align: center;
    color: var(--font-color);
}

.main-content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.conversion {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.conversion > fieldset,
.form-controls > fieldset {
    border: none;
}

.form-controls {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.form-temp-input {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-end;
}

.form-temp-input > input {
    width: 100%;
}

.form-temp-type {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    justify-self: flex-start;
    font-size: 1.5rem;
    margin-left: 1rem;
    color: var(--accent-1);
}

.submitTemp {
    background: var(--linear-button);
    font-family: var(--main-font);
    font-size: 1.5rem;
    color: var(--font-color-secondary);
    border: none;
    padding: .5rem;
    margin: 1rem;
    transition: ease-in-out .5s;
    border-radius: .5rem;
}

.submitTemp:hover {
    cursor: pointer;
    transform: scale(1.05);
    filter: drop-shadow(0px 5px 8px rgba(0, 0, 0, .5));
    transition: ease-in-out .5s;
}

.auto-conversion {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    padding-top: 2rem;
    background-color: var(--main-bg);
    -moz-box-shadow: inset -2px -2px 10px var(--main-hightlight),
        inset 2px 2px 10px var(--main-shadow);
    -webkit-box-shadow: inset -2px -2px 10px var(--main-hightlight)
        inset 2px 2px 10px var(--main-shadow);
    box-shadow: inset -2px -2px 10px var(--main-hightlight),
        inset 2px 2px 10px var(--main-shadow);
    border-radius: 1rem;;
}

.auto-conversion-title {
    color: var(--font-color);
    text-align: center;
    padding-left: 1rem;
}

.inner-auto-conversion {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.fahrenheit, .celsius {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding: .5rem;
}

.fahrenheit {
    align-items: flex-end;
}

.celsius {
    align-items: flex-start;
}

.fahrenheit > label,
.celsius > label {
    width: 60%;
    text-align: center;
    font-size: 2rem;
    color: var(--accent-1);
}

.conversion-symbol {
    font-size: 3rem;
    margin-top: -2rem;
    color: var(--accent-1);
}

.temp-input {
    text-align: center;
    font-family: var(--main-font);
    font-size: 3rem;
    padding: 0;
    width: 60%;
}

.conversion-display {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 1rem;
}

.nest {
	width: 25rem;
	height: 25rem;
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	background: var(--main-bg);
	filter: drop-shadow(-5px -2px 8px var(--main-hightlight)) drop-shadow(5px 2px 10px var(--main-shadow));
	border-radius: 100%;
}

#nest-circle {
	display: flex;
    flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	width: 23.5rem;
	height: 23.5rem;
	border-radius: 100%;
	background: linear-gradient(to bottom right, #111111, #010101);
}

#nest-circle svg {
    position: absolute;
	fill: transparent;
	stroke-width: 20;
	stroke-linecap: round;
	stroke-linejoin: round;
}

.conversion-title {
    font-family: var(--main-font);
    font-size: 5rem;
    font-weight: 300;
    color: var(--gray-200);
    margin-top: -3.5rem;
}

.conversion-subtitle {
    font-family: var(--main-font);
    font-size: 1.5rem;
    color: var(--gray-200);
    margin-top: -2rem;
}
/*****************************************
****        MOBILE 428px MAX          ****
****       iPhone Max Screen          ****
*****************************************/
@media only screen and (max-width: 428px) {
    .form-controls {
        flex-flow: row wrap;
        padding: .5rem 1rem;
    }
}

