::part(card) {
    display: flex;
    flex-direction: column;
    flex-flow: nowrap;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    width: 20rem;
    height: 4rem;
    text-decoration: none;
    background-color: var(--accent-bg);
    border: 2px solid var(--main);
    border-radius: .5rem;
    transition: ease-in-out .2s;
}

::part(card):hover {
    transform: scale(1.05);
    filter: drop-shadow(0 0 10px var(--main-ds));
    transition: ease-in-out .2s;
}

::part(project-title) {
    font-family: var(--title-font);
    font-size: 1.5rem;
    color: var(--main);
}
